.splash {
    background-image: url("./assets/brick_wall.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    width: 400px;
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.title-name {
    color: black;
    background-color: white;
    font-size: 80px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.title-author {
    position: absolute;
    top: 115px;
    right: 6px;
    font-size: 20px;
    color: white;
    font-family: arial;
}

.splash-navbar {
    display: flex;
    justify-content: center;
}

.splash-navbar-list {
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.splash-navbar-list li {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

.splash-navbar-list li:hover {
    color: white;
    background-color: black;
}

.start-button {
    width: 250px;
    height: 75px;
    margin: 0 auto 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.start-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#game-canvas {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-background {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}